<footer>
    <div class="footer-wrapper">
        <a href="https://github.com/saraehutch94/vino-italiano" target="_blank"><img src="https://i.imgur.com/X20Qz9B.png" class="github-icon" alt="github icon"/></a>
        <div><strong>Created by Sara Hutchinson</strong></div>
    </div>
</footer>