<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>
<body>
    <%-include("./partials/header.ejs")%>
    <nav>
        <a href="/vino-italiano/shades">Vino</a>
    </nav>
    <p>(Description of Vino Italiano goes here)</p>
    <%- include("./partials/footer.ejs")%>
</body>
</html>