<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano/shades">Vino</a>
            <a class='nav-list-item' href="/vino-italiano/search">Search</a>
            <% if(user) { %>
                <a class="nav-list-item" href="/vino-italiano/users/dashboard">Dashboard</a>
                <a class="nav-list-item" href="/vino-italiano/users/logout">Logout</a>
            <% } else { %>
                <a class="nav-list-item" href="/vino-italiano/users/login">Login</a>
                <a class="nav-list-item" href="/vino-italiano/users/signup">Signup</a>
            <% } %>
        </nav>
    </header>
    <div class="paragraph-wrapper">
        <div class="about-vino-italiano">
            <div class="full-para">
                <h2 class="landing-title">AKA, Wine Bliss</h2>
                <div class="landing-para">Welcome to <strong>Vino Italiano</strong>, where you can find the most popular
                            Italian wines on the market. We break down each wine's quality by it's
                            flavor profile, tannin-level, acidity, and body. We even throw in some
                            food pairings that will surely make your special occasion even more
                            spectacular. Bring your family and friends together with these hand-crafted
                            oak-barrel-aged wines.</div>
            </div>
            <div class="full-para">
                <h3 class="landing-title">Contributions</h3>
                <div class="landing-para">Vino Italiano welcomes additions to the site, if you feel we are
                            missing a vital piece to the collection. Just head to either our
                            Vino Rosso or Vino Bianco sections and add your wine according to the shade.</div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>