<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>
<body>
    <%-include("./partials/header.ejs")%>
    <nav>
        <a href="/vino-italiano/shades">Vino</a>
    </nav>
    <div class="page-wrapper">
        <div class="second-page-wrapper">
            <p>(Description of Vino Italiano goes here)</p>
        </div>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>