<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Vino Italiano</title>
</head>
<body>
    <header>
        <h1>Vino Italiano</h1>
    </header>
    <nav>
        <a href="/vino-italiano/shades">Vino</a>
    </nav>
    <p>(Description of Vino Italiano goes here)</p>
    <footer>
        <p>Copyright &copy; All Rights Reserved</p>
        <p>2021 Vino Italiano</p>
    </footer>
</body>
</html>