<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class="nav-list-item" href="/vino-italiano/shades">Vino</a>
            <a class='nav-list-item' href="/vino-italiano/search">Search</a>
            <a class="nav-list-item" href="/vino-italiano/users/signup">Signup</a>
        </nav>
    </header>
    <div class="login-wrapper">
        <div class="login-form-wrapper">
            <h2 class="login-title">Login</h2>
            <% if(error) { %>
                <p style="color: red; text-transform: capitalize;"><%=error%></p>
            <% } %>
            <form action="/vino-italiano/users/login" method="POST">
                <div class="login-form-flex">
                    <div>
                        <label class="login-section">
                            <p>Email:</p>
                            <input class="login-input" type="email" name="email"/>
                        </label>
                    </div>
                    <div>
                        <label class="login-section">
                            <p>Password:</p>
                            <input class="login-input" type="password" name="password"/>
                        </label>
                    </div>
                    <div class="login-submit">
                        <input class="login-input login-button" type="submit" value="Login"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>