<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class="nav-list-item" href="/vino-italiano/shades">Vino</a>
            <a class='nav-list-item' href="/vino-italiano/search">Search</a>
            <a class="nav-list-item" href="/vino-italiano/redIndex">Back to Vino Rosso</a>
            <% if(user) { %>
                <a class="nav-list-item" href="/vino-italiano/users/logout">Logout</a>
            <% } else { %>
                <a class="nav-list-item" href="/vino-italiano/users/login">Login</a>
                <a class="nav-list-item" href="/vino-italiano/users/signup">Signup</a>
            <% } %>
        </nav>
    </header>
    <div class="new-whole-wrapper">
        <div class="new-form-wrapper">
            <div class="new-title"><h2>New Vino Rosso</h2></div>
            <form action="/vino-italiano/redIndex" method="POST">
                <div class="new-form-flex">
                    <div>
                        <label class="new-section">
                            <p>Varietal</p>
                            <input class="edit-input" type="text" name="varietal"/>
                        </label>
                    </div>
                    <div>
                        <label class="new-section">
                            <p>Region</p>
                            <input class="edit-input" type="text" name="region"/>
                        </label>
                    </div>
                    <div>
                        <label class="new-section">
                            <p>Description</p>
                            <textarea class="edit-input-description" name="description" rows="4" cols="30"></textarea>
                        </label>
                    </div>
                    <div>
                        <label class="new-section">
                            <p>Image</p>
                            <% if (imageError.includes("Please")) { %>
                                <span class="image-error"><%=imageError%></span>
                            <% } %>
                            <input class="edit-input" type="text" name="img"/>
                        </label>
                    </div>
                    <div class="edit-submit">
                        <input class="edit-submit-button" type="submit" value="Submit"/>
                    </div>
            </form>
        </div>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>