<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class="nav-list-item" href="/vino-italiano/users/login">Login</a>
            <a class="nav-list-item" href="/vino-italiano/users/signup">Signup</a>
            <a class="nav-list-item" href="/vino-italiano/users/logout">Logout</a>
        </nav>
    </header>
    <h2>Vino Search</h2>
    <input type="text">
    <button>Search</button>

    <ul>
        <!-- Search Results -->
    </ul>

    <%- include("./partials/footer.ejs")%>
    <script>
        const buttonElement = document.querySelector("button");
        const inputElement = document.querySelector("input");
        const ulElement = document.querySelector("ul");

        buttonElement.addEventListener("click", handleClick);

        async function handleClick() {
            const searchTerm = inputElement.value;
            const response = await fetch("/vino-italiano/search?term=" + searchTerm);
            const data = await response.json();

            const list = data.results.map(wine => {
                return `<li>
                            <a href="/vino-italiano/${wine._id}">
                                ${wine.varietal}
                            </a>
                        </li>`
            }).join("");

            ulElement.innerHTML = list;

        }
    </script>
</body>
</html>