<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class="nav-list-item" href="/vino-italiano/users/login">Login</a>
            <a class="nav-list-item" href="/vino-italiano/users/signup">Signup</a>
            <a class="nav-list-item" href="/vino-italiano/users/logout">Logout</a>
        </nav>
    </header>
    <h2>Vino Search</h2>
    <input type="text">
    <button>Search</button>
    <%- include("./partials/footer.ejs")%>
    <script>
        const buttonElement = document.querySelector("button");
        const inputElement = document.querySelector("input");

        buttonElement.addEventListener("click", handleClick);

        async function handleClick() {
            const searchTerm = inputElement.value;
            const response = await fetch("/vino-italiano/search?term=" + searchTerm);
            const data = await response.json();
            console.log(data);
        }
    </script>
</body>
</html>