<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fauna+One&family=Lobster+Two&display=swap" rel="stylesheet">
    <script defer src="/js/search.js"></script>
    <title><%= tabTitle %> | Vino Italiano</title>
</head>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class="nav-list-item" href="/vino-italiano/users/login">Login</a>
            <a class="nav-list-item" href="/vino-italiano/users/signup">Signup</a>
            <a class="nav-list-item" href="/vino-italiano/users/logout">Logout</a>
        </nav>
    </header>
    <div class="search-wrapper">
        <h2>Vino Search</h2>
        <input type="text">
        <button>Search</button>
        <ul class="no-bullet-list">
            <!-- Search Results -->
        </ul>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>