<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class='nav-list-item' href="/vino-italiano/search">Search</a>
            <% if(user) { %>
                <a class="nav-list-item" href="/vino-italiano/users/logout">Logout</a>
            <% } else { %>
                <a class="nav-list-item" href="/vino-italiano/users/login">Login</a>
                <a class="nav-list-item" href="/vino-italiano/users/signup">Signup</a>
            <% } %>
        </nav>
    </header>
    <div class="shade-wrapper">
        <a class="shade-button-text button-box" href="/vino-italiano/redIndex">Vino Rosso</a>
        <a class="shade-button-text button-box" href="/vino-italiano/whiteIndex">Vino Bianco</a>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>