<%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
    </header>
    <nav>
        <a href="/vino-italiano/shades">Vino</a>
        <a href="/vino-italiano">Home</a>
    </nav>
    <a href="/vino-italiano/redIndex">Vino Rosso</a>
    <a href="/vino-italiano/whiteIndex">Vino Bianco</a>
    <%- include("./partials/footer.ejs")%>
</body>
</html>