<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class="nav-list-item" href="/vino-italiano/shades">Vino</a>
            <a class='nav-list-item' href="/vino-italiano/search">Search</a>
            <% if(user) { %>
                <a class="nav-list-item" href="/vino-italiano/users/logout">Logout</a>
            <% } else { %>
                <a class="nav-list-item" href="/vino-italiano/users/login">Login</a>
            <% } %>
        </nav>
    </header>
    <div class="signup-wrapper">
        <div class="signup-form-wrapper">
            <h2 class="signup-title">Signup</h2>
            <form action="/vino-italiano/users/signup" method="POST">
                <div class="signup-form-flex">
                    <div>
                        <label class="signup-section">
                            <p>First name</p>
                            <input class="signup-input" type="text" name="firstName"/>
                        </label>
                    </div>
                    <div>
                        <label class="signup-section">
                            <p>Last name</p>
                            <input class="signup-input" type="text" name="lastName"/>
                        </label>
                    </div>
                    <div>
                        <label class="signup-section">
                            <p>Email</p>
                            <input class="signup-input" type="email" name="email"/>
                        </label>
                    </div>
                    <div>
                        <label class="signup-section">
                            <p>Password</p>
                            <input class="signup-input" type="password" name="password"/>
                        </label>
                    </div>
                    <div class="signup-submit">
                        <input class="signup-button" type="submit" value="Signup"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>