* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Fauna One', serif;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    font-family: 'Lobster Two', cursive;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.page-wrapper {
    min-height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-vino-italiano {
    text-align: center;
    width: 60%;
}

.landing-para {
    font-size: 20px;
}

footer {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100vh;
    margin-top: 30px;
}

.footer-div {
    margin-top: 10px;
    margin-bottom: 15px;
}
